@import "../Vars.scss";

.level-game-content {
  display: flex;
  flex-direction: column;
  width: 250px;
  color: $white-color;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: rgba(63, 92, 166, 0.5);
  margin-top: 15px;
  & h1 {
    font-size: $forth-font-size;
  }
}
.level-game-mine {
  display: flex;
  & span{
    font-size: $forth-font-size;
    line-height: 65px;
  };
}
