///COLORS

$main-color: #a4b357;
$second-color: #899c6c;
$third-color: #4d689b;
$forth-color: #3f5ca6;
$fiveth-color: #f1e767;
$sixth-color: #feb645;
$seventh-color: #7b7b7b;

$white-color: #ffff;
$darkslategray: #2f4f4f;
$darkslategray-hover: rgba(47, 79, 79, 0.5);
/// font size
$main-font-size: 16px;
$second-font-size: 18px;
$third-font-size: 22px;
$forth-font-size: 24px;
$fiveth-font-size: 28px;
$eigth-font-size: 50px;
